[submodule "esdap-frontend"]
	path = esdap-frontend
	url = https://github.com/GhostVaibhav/esdap-frontend
[submodule "esdap-backend"]
	path = esdap-backend
	url = https://github.com/GhostVaibhav/esdap-backend
